body{
       min-height: 100%;
       font-family: 'Architects Daughter', cursive;
}


@font-face {
  font-family: 'quicksand';
  src: url('assets/fonts/Quicksand-Regular.otf'); /* IE9 Compat Modes */

}

#head_div{
height: 100vh;

}

#center_topic{
  font-size: 45px;


  text-align: center;

  border-width: 1px;
  border-color: black;
  letter-spacing: 5px;
  padding:10px;
  top:auto;

}
